### 시간 복잡도 계산해보기 1

##### N개의 데이터의 합을 계산하는 프로그램 예제

In [1]:
array = [3, 5, 1, 2, 4]  # 5개의 데이터 (N = 5)
summary = 0  # 합계를 저장할 변수

# 모든 데이터를 하나씩 확인하며 합계를 계산
for x in array:
  summary += x

# 결과를 출력
print(summary)

15

수행 시간은 데이터의 개수 N에 비례할 것임을 예측할 수 있음. (시간 복잡도 : O(N))

### 시간 복잡도 계산해보기 2

##### 2중 반복문을 이용하는 프로그램 예제

In [2]:
array = [3, 5, 1, 2, 4]  # 5개의 데이터 (N = 5)

for i in array:
    for j in array:
        temp = i * j
        print(temp)

9
15
3
6
12
15
25
5
10
20
3
5
1
2
4
6
10
2
4
8
12
20
4
8
16

시간 복잡도 : O(N^{2})  
참고로 모든 2중 반복문의 시간 복잡도가 O(N^{2})인 것은 아니다. 소스코드가 내부적으로 다른 함수를 호출한다면 그 함수의 시간 복잡도까지 고려해야 함.

### 수행 시간 측정 소스코드 예제

In [3]:
import time
start_time = time.time() # 측정 시작

# 프로그램 소스코드
end_time = time.time() # 측정 종료
print("time:", end_time - start_time) # 수행 시간 출력

time: 0.0

### 수 자료형

#### 정수형

In [6]:
# 양의 정수
a = 1000
print(a)

# 음의 정수
a = -7
print(a)

# 0|
a = 0
print(a)

1000
-7
0

#### 실수형

In [7]:
# 양의 실수
a = 157.93
print(a)

# 음의 실수
a = -1837.2
print(a)

# 소수부가 0일 때 0을 생략
a = 5.
print(a)

# 정수부가 0일 때 0을 생략
a = -.7
print(a)

157.93
-1837.2
5.0
-0.7

#### 지수 표현 방식

In [8]:
# 1,000,000,000의 지수 표현 방식
a = 1e9
print(a)

# 752.5
a = 75.25e1
print(a)

# 3.954
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

#### 실수형 더 알아보기

In [9]:
a = 0.3 + 0.6
print(a)

if a == 0.9:
    print(True)
else:
    print(False)

0.8999999999999999
False

In [10]:
a = 0.3 + 0.6
print(round(a, 4))

if round(a, 4) == 0.9:
    print(True)
else:
    print(False)

0.9
True

#### 수 자료형의 연산

In [1]:
a = 7
b = 3

# 나누기
print(a / b)

# 나머지
print(a % b)

# 몫
print(a // b)

2.3333333333333335
1
2

In [2]:
a = 5
b = 3

# 거듭 제곱
print(a ** b)

# 제곱근
print(a ** 0.5)

125
2.23606797749979

### 리스트 자료형

#### 리스트 초기화

In [3]:
# 직접 데이터를 넣어 초기화
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

# 네 번째 원소만 출력
print(a[3])

# 크기가 N이고, 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0] * n
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 리스트의 인덱싱과 슬라이싱

In [1]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 여덟 번째 원소만 출력
print(a[7])

# 뒤에서 첫 번째 원소 출력
print(a[-1])

# 뒤에서 세 번째 원소 출력
print(a[-3])

# 네 번째 원소 값 변경
a[3] = 7
print(a)

8
9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 네 번째 원소만 출력
print(a[3])

# 두 번째 원소부터 네 번째 원소까지
print(a[1:4])

4
[2, 3, 4]

#### 리스트 컴프리헨션

In [4]:
# 0부터 9까지의 수를 포함하는 리스트
array = [i for i in range(10)]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i % 2 == 1]

print(array)

array = [i for i in range(1, 20, 2)]

print(array)

# 1부터 9까지의 수들의 제곱 값을 포함하는 리스트
array = [i * i for i in range(1, 10)]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### 리스트 컴프리헨션과 일반적인 코드 비교하기

코드 1 : 리스트 컴프리헨션

In [9]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i % 2 == 1]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

코드 2 : 일반적인 코드

In [10]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = []
for i in range(20):
    if i % 2 == 1:
        array.append(i)

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 리스트 컴프리헨션 (좋은 예시)

In [11]:
# N X M 크기의 2차원 리스트 초기화
n = 4
m = 3
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

#### 리스트 컴프리헨션 (잘못된 예시)

In [12]:
# N X M 크기의 2차원 리스트 초기화 (잘못된 방법)
n = 4
m = 3
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

#### 리스트 관련 기타 메서드

In [15]:
a = [1, 4, 3]
print('기본 리스트 : ', a)

# 리스트에 원소 삽입
a.append(2)
print('삽입 : ', a)

# 오름차순 정렬
a.sort()
print('오름차순 정렬 : ', a)

# 내림차순 정렬
a.sort(reverse = True)
print('내림차순 정렬 : ', a)

기본 리스트 :  [1, 4, 3]
삽입 :  [1, 4, 3, 2]
오름차순 정렬 :  [1, 2, 3, 4]
내림차순 정렬 :  [4, 3, 2, 1]

In [16]:
a = [4, 3, 2, 1]

# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기 : ", a)

# 특정 인덱스에 데이터 추가
a.insert(2, 3)
print('인덱스 2에 3 추가 : ', a)

# 특정 값인 데이터 개수 세기
print('값이 3인 데이터 개수 : ', a.count(3))

# 특정 값 데이터 삭제
a.remove(1)
print('값이 1인 데이터 삭제 : ', a)

원소 뒤집기 :  [1, 2, 3, 4]
인덱스 2에 3 추가 :  [1, 2, 3, 3, 4]
값이 3인 데이터 개수 :  2
값이 1인 데이터 삭제 :  [2, 3, 3, 4]

#### 리스트에서 특정 값을 가지는 원소를 모두 제거하기

In [17]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5} # 집합 자료형

# remove_list 에 포함되지 않은 값만을 저장
result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

### 문자열, 튜플 자료형

#### 문자열 자료형

In [18]:
data = 'Hello World'
print(data)

data = "Don't you know \"Python\"?"
print(data)

Hello World
Don't you know "Python"?

#### 문자열 연산

In [19]:
a = 'Hello'
b = 'World'
print(a + ' ' + b)

a = 'String'
print(a * 3)

a = 'ABCDEF'
print(a[2:4])

Hello World
StringStringString
CD

#### 튜플 자료형

In [20]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# 네 번째 원소만 출력
print(a[3])

# 두 번째 원소부터 네 번째 원소까지
print(a[1:4])

4
(2, 3, 4)

#### 튜플 사용 예제 (오류가 발생하는 예제)

In [21]:
a = (1, 2, 3, 4)
print(a)

a[2] = 7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### 사전, 집합 자료형

#### 사전 자료형

In [22]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

if '사과' in data:
    print("'사과'를 키로 가지는 데이터가 존재합니다.")

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
'사과'를 키로 가지는 데이터가 존재합니다.

In [23]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

# 키 데이터만 담은 리스트
key_list = data.keys()

# 값 데이터만 담은 리스트
value_list = data.values()

print(key_list)
print(value_list)

# 각 키에 따른 값을 하나씩 출력
for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

#### 집합 자료형

In [24]:
# 집합 자료형 초기화 방법 1
data = set([1, 1, 2, 3, 4, 4, 5])
print(data)

# 집합 자료형 초기화 방법 1
data = {1, 1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

#### 집합 자료형의 연산

In [25]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

# 합집합
print(a | b)

# 교집합
print(a & b)

# 차집합
print(a - b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

#### 집합 자료형 관련 함수

In [26]:
data = set([1, 2, 3])
print(data)

# 새로운 원소 추가
data.add(4)
print(data)

# 새로운 원소 여러 개 추가
data.update([5, 6])
print(data)

# 특정한 값을 갖는 원소 삭제
data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

### 기본 입출력

#### 입력을 위한 전형적인 소스코드 1

In [28]:
# 데이터의 개수 입력
n = int(input())

# 각 데이터를 공백을 기준으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

[99, 90, 75, 65, 34]

#### 입력을 위한 전형적인 소스코드 2

In [29]:
# n, m, k를 공백을 기준으로 구분하여 입력
n, m, k = map(int, input().split())

print(n, m, k)

3 5 7

#### 빠르게 입력 받기

In [30]:
import sys

# 문자열 입력 받기
data = sys.stdin.readline().rstrip()
print(data)

#### 출력을 위한 전형적인 소스코드

In [1]:
# 출력할 변수들
a = 1
b = 2
print(a, b)
print(7, end = " ")
print(8, end = " ")

# 출력학 변수
answer = 7
print(" 정답은 " + str(answer) + "입니다.")

1 2
7 8  정답은 7입니다.

#### f-string 예제

In [2]:
answer = 7
print(f"정답은 {answer}입니다.")

정답은 7입니다.

### 조건문

#### 조건문 예제

In [3]:
x = 15

if x >= 10:
    print("x >= 10")
if x >= 0:
    print("x >= 0")
if x >= 30:
    print("x >= 30")

x >= 10
x >= 0

#### 성적 구간에 따른 학점 출력 예제

In [4]:
score = 85

if score >= 90:
    print('학점 : A')
elif score >= 80:
    print('학점 : B')
elif score >= 70:
    print('학점 : C')
else:
    print('학점 : F')

학점 : B

#### 반복문

#### 반복문 : while문

##### 1부터 9까지 모든 정수의 합 구하기 예제 (while문)

In [5]:
i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    result += i
    i += 1

print(result)

45

##### 1부터 9까지 홀수의 합 구하기 예제 (while문)

In [6]:
i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

#### 반복문 : for문

In [7]:
array = [9, 8, 7, 6, 5]

for x in array:
    print(x)

9
8
7
6
5

##### 1부터 30까지 모든 정수의 합 구하기 예제 (for문)

In [8]:
result = 0

for i in range(1, 31):
    result += i

print(result)

465

#### 파이썬의 continue 키워드

In [9]:
result = 0

for i in range(1, 10):
    if i % 2 ==0:
        continue
    result += i

print(result)

25

#### 파이썬의 break 키워드

In [10]:
i = 1

while True:
    print("현재 i의 값 : ", i)
    if i == 5:
        break
    i += 1

현재 i의 값 :  1
현재 i의 값 :  2
현재 i의 값 :  3
현재 i의 값 :  4
현재 i의 값 :  5

#### 학생들의 합격 여부 판단 예제 1. 점수가 80점만 넘으면 합격

In [11]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

#### 학생들의 합격 여부 판단 예제 2. 특정 번호의 학생은 제외하기

In [12]:
scores = [90, 85, 77, 65, 97]
cheating_student_list = {2, 4}

for i in range(5):
    if i + 1 in cheating_student_list:
        continue
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

#### 중첩된 반복문 : 구구단 예제

In [13]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### 함수와 람다 표현식

#### 람다 표현식 예시 : 내장 함수에서 자주 사용되는 람다 함수

In [14]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key=my_key))
print(sorted(array, key=lambda x: x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

#### 람다 표현식 예시 : 여러 개의 리스트에 적용

In [15]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

### 자주 사용되는 내장함수

In [16]:
# sum()
result = sum([1, 2, 3, 4, 5])
print(result)

# min(), max()
min_result = min(7, 3, 5, 2)
max_result = max(7, 3, 5, 2)
print(min_result, max_result)

# eval()
result = eval("(3+5)*7")
print(result)

15
2 7
56

In [17]:
# sorted()
result = sorted([9, 1, 8, 5, 4])
reverse_result = sorted([9, 1, 8, 5, 4], reverse = True)
print(result)
print(reverse_result)

# sorted() with key
array = [('홍길동', 35), ('이순신', 75), ('아무개', 50)]
result = sorted(array, key = lambda x: x[1], reverse = True)
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]
[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

#### 순열

In [18]:
from itertools import permutations

data = ['A', 'B', 'C'] # 데이터 준비

result = list(permutations(data, 3)) # 모든 순열 구하기
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

#### 조합

In [19]:
from itertools import combinations

data = ['A', 'B', 'C'] # 데이터 준비

result = list(combinations(data, 2)) # 2개를 뽑는 모든 조합 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

#### 중복 순열과 중복 조합

In [21]:
from itertools import product

data = ['A', 'B', 'C'] # 데이터 준비

result = list(product(data, repeat = 2)) # 2개를 뽑는 모든 순열 구하기 (중복 허용)
print(result)

from itertools import combinations_with_replacement

data = ['A', 'B', 'C'] # 데이터 준비

result = list(combinations_with_replacement(data, 2)) # 2개를 뽑는 모든 조합 구하기 (중복 허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

#### Counter

In [22]:
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

print(counter['blue']) # 'blue'가 등장한 횟수 출력
print(counter['green']) # 'green'이 등장한 횟수 출력
print(dict(counter)) # 사전 자료형으로 변환

3
1
{'red': 2, 'blue': 3, 'green': 1}

#### 최대 공약수와 최소 공배수

In [23]:
import math

# 최소 공배수(LCM)를 구하는 함수
def lcm(a, b):
    return a * b // math.gcd(a, b)

a = 21
b = 14

print(math.gcd(21, 14)) # 최대 공약수 (GCD) 계산
print(lcm(21, 14)) # 최소 공배수 (LCM) 계산

7
42